@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-primary: #dc483e;
  --white-primary: #ffffff;
  --black-primary: #191e26;
  --spacing-wide: 3px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;  
}
}
